{% extends "base.html" %}
{% block title %}ZenjyM-LogIn{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
<div class="login-container darkmode">
    <div class="login-box animated fadeInDown">
        <!-- <div class="login-logo"></div> -->
        <div class="login-body">
            <div class="login-title"><strong>Log In</strong>to <span class="fa fa-barcode" "></span></div>
            {% if form.errors %}
            <div class="alert alert-danger" role="alert">
                <button type="button" class="close" data-dismiss="alert"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <strong>Oh snap!</strong> {{form.errors}} 😿.

            </div>
            {% else %}
            <!-- <div id='form-errors'>Your 🚀...</div> -->
            {% endif %}
            <form action="{% url 'login' %}" class="form-horizontal" method="post">
            {% csrf_token %}
            <div class="form-group">
                <div class="col-md-12">
                    <!-- <input type="text" class="form-control" placeholder="E-mail"/> -->
                    {% crispy_field form.username 'class' 'form-control' 'placeholder' 'Email' %}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-12">
                    <!-- <input type="password" class="form-control" placeholder="Password"/> -->
                    {% crispy_field form.password 'class' 'form-control' 'placeholder' 'Password' %}
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-6">
                    <a href="#" class="btn btn-link btn-block">Forgot your password?</a>
                </div>
                <input type="hidden" name="next" value="{{ next }}"/>
                <div class="col-md-6">
                    <button type="submit" value="Log-in" class="btn btn-info btn-block">Log In</button>
                </div>
            </div>
            <div class="login-or">OR</div>
            <div class="form-group">
                <div class="col-md-4">
                    <button class="btn btn-info btn-block btn-twitter"><span class="fa fa-twitter"></span> Twitter</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-info btn-block btn-facebook"><span class="fa fa-facebook"></span> Facebook</button>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-info btn-block btn-google"><span class="fa fa-google"></span> Google</button>
                </div>
            </div>
            <div class="login-subtitle">
                Don't have an account yet? <a href="{% url 'signup' %}">Create an account</a>
            </div>
            </form>
        </div>
        <div class="login-footer">
            <div class="pull-left">
                &copy; 2020 ZenjyM 🤓
            </div>
            <div class="pull-right">
                <a href="#">About</a> |
                <a href="#">Privacy</a> |
                <a href="#">Contact Us</a>
            </div>
        </div>
        </div>
    </div>
{% endblock %}
