{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- META SECTION -->
        <title>Liquire Place</title>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <link rel="stylesheet" type="text/css" href="{% static 'shop/favicon.ico' %}"/>
        <!-- END META SECTION -->

        <!-- CSS INCLUDE -->
        <link rel="stylesheet" type="text/css" id="theme" href="{% static 'shop/css/theme-default.css' %}" />
        <!-- EOF CSS INCLUDE -->
    </head>
    <body>
        <!-- START PAGE CONTAINER -->
        <div class="page-container">
            <!-- START PAGE SIDEBAR -->


            <!-- PAGE CONTENT -->
            <div class="page-content">

                <!-- START X-NAVIGATION VERTICAL -->
                <ul class="x-navigation x-navigation-horizontal x-navigation-panel">
                    <!-- TOGGLE NAVIGATION -->
                    <li class="xn-icon-button">
                        <!-- <a href="#"><span class="fa fa-beer">Lp</span></a> -->
                        <a href="#"><span class="fa fa-barcode" style="font-size:20px;"></span></a>

                    </li>

                    <!-- END TOGGLE NAVIGATION -->
                    <!-- SEARCH -->
                    <li class="xn-search">
                        <form role="form">
                            <input type="text" name="search" placeholder="Search..."/>
                        </form>
                    </li>
                    <!-- END SEARCH -->
                    <!-- SIGN OUT -->
                    <li class="xn-icon-button pull-left">
                        <a href="{% url 'product_list' %}">Shop</a>
                    </li>
                    <li class="xn-icon-button pull-left">
                        <a href="#" class="mb-control">About</a>
                    </li>
                    <li class="xn-icon-button pull-right">
                        <a href="#" class="mb-control"><span class="fa fa-user"></span></a>
                    </li>
                    <!-- END SIGN OUT -->

                    <!-- TASKS -->
                    <li class="xn-icon-button pull-right">
                        <a href="#"><span class="fa fa-shopping-cart"></span></a>
                        <div class="informer informer-warning">{{ cart.length }}</div>
                        <div class="panel panel-primary animated zoomIn xn-drop-left xn-panel-dragging">
                            <div class="panel-heading">
                                <h3 class="panel-title"><span class="fa fa-shopping-cart"></span> Cart</h3>
                                <div class="pull-right">
                                    <span class="label label-warning">{{ cart.length }} products</span>
                                </div>
                            </div>
                            <div class="panel-body table-responsive">
                                <table class="table table-striped table-actions">
                                    <tbody>
                                      {% for item in cart %}
                                        {% with product=item.product %}
                                        <tr id="trow_1">
                                            <td><strong><small>1</small>{{ product.name }}</strong></td>
                                            <td>
                                                <img src="{{ product.image.url}}" style="padding-bottom: 5px; width: 20px; height:30px; border-radius:12px;"/>
                                                <a href="#"></a></td>
                                            <td>{{ item.quantity }}</td>
                                            <td>{{ item.price }}</td>
                                            <td>
                                                <button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span></button>
                                                <button <a href="{% url "cart:cart_remove" product_id %}"></a> class="btn btn-danger btn-rounded btn-sm" onClick="delete_row('trow_1');"><span class="fa fa-times"></span></button>
                                            </td>
                                        </tr>
                                        {% endwith %}
                                        {% endfor %}
                                        <tr id="trow_2">
                                            <td><strong>1. Dmitry Ivaniuk</strong></td>
                                            <td>
                                                <img src="{% static 'shop/assets/images/users/user2.jpg' %}" style="padding-bottom: 5px; width: 20px; height:30px; border-radius:12px;"/>
                                                <a href="#"></a></td>
                                            <td>$1,351.00</td>
                                            <td>
                                                <button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span></button>
                                                <button class="btn btn-danger btn-rounded btn-sm" onClick="delete_row('trow_2');"><span class="fa fa-times"></span></button>
                                            </td>
                                        </tr>
                                        <tr id="trow_3">
                                            <td><strong>2. Nadia Ali</strong></td>
                                            <td>
                                                <img src="{% static 'shop/assets/images/users/user2.jpg' %}" style="padding-bottom: 5px; width: 20px; height:30px; border-radius:12px;"/>
                                                <a href="#"></a></td>
                                            <td>$2,621.00</td>
                                            <td>
                                                <button class="btn btn-default btn-rounded btn-sm"><span class="fa fa-pencil"></span></button>
                                                <button class="btn btn-danger btn-rounded btn-sm" onClick="delete_row('trow_3');"><span class="fa fa-times"></span></button>
                                            </td>
                                        </tr>
                                        <tr class="footer">
                                            <td>Total </td>
                                            <td>:</td>
                                            <td>Ksh</td>
                                            <td>{{ cart.get_total_price}}</td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div class="panel-footer text-center">
                                <a href="{% url 'checkout_page' %}">Checkout Cart</a>
                            </div>
                        </div>
                    </li>
                    <!-- END TASKS -->
                </ul>
                <!-- END X-NAVIGATION VERTICAL -->

                <!-- START BREADCRUMB -->
                <ul class="breadcrumb push-down-0">
                    {% for category in product_categories %}
                    <li>{{ category.name }}</li>
                    {% endfor %}
                </ul>
                <!-- END BREADCRUMB -->
                <!-- START CONTENT FRAME -->
                <div class="content-frame">

                    <!-- START CONTENT FRAME TOP -->
                    <div class="content-frame-top">
                        <div class="page-title">
                            <h2><span> {{ product_categories.first }}</span></h2>
                        </div>
                        <div class="pull-right">
                            <button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Talk To Our Customer Care 🇰🇪"><span class="glyphicon glyphicon-phone-alt"></span>Call 0722905016</button>
                            <button class="btn btn-default content-frame-right-toggle"><span class="fa fa-bars"></span></button>
                        </div>
                    </div>

                    <!-- START CONTENT FRAME RIGHT -->
                    <div class="content-frame-right">
                        <div class="block push-up-10">
                            <div class="widget widget-warning widget-item-icon">
                                <div class="widget-item-right">
                                    <span class="fa fa-envelope"></span>
                                </div>
                                <div class="widget-data-left">
                                    <div class="widget-int num-count">48</div>
                                    <div class="widget-title">New messages</div>
                                    <div class="widget-subtitle">In your mailbox</div>
                                </div>
                            </div>
                        </div>
                        <h4>Groups:</h4>
                        <div class="list-group border-bottom push-down-20">
                            <a href="#" class="list-group-item active">All <span class="badge badge-primary">12</span></a>
                            <a href="#" class="list-group-item">Nature <span class="badge badge-success">7</span></a>
                            <a href="#" class="list-group-item">Music <span class="badge badge-danger">3</span></a>
                            <a href="#" class="list-group-item">Space <span class="badge badge-info">2</span></a>
                            <a href="#" class="list-group-item">Girls <span class="badge badge-warning">3</span></a>
                        </div>
                        <h4>Tags:</h4>
                        <ul class="list-tags">
                            <li><a href="#"><span class="fa fa-tag"></span> amet</a></li>
                            <li><a href="#"><span class="fa fa-tag"></span> rutrum</a></li>
                            <li><a href="#"><span class="fa fa-tag"></span> nunc</a></li>
                            <li><a href="#"><span class="fa fa-tag"></span> tempor</a></li>
                            <li><a href="#"><span class="fa fa-tag"></span> eros</a></li>
                            <li><a href="#"><span class="fa fa-tag"></span> suspendisse</a></li>
                            <li><a href="#"><span class="fa fa-tag"></span> dolor</a></li>
                        </ul>
                    </div>

                    <!-- START CONTENT FRAME BODY -->
                    <div class="content-frame-body content-frame-body-left">

                        <!-- <div class="pull-left push-up-10">
                            <button class="btn btn-primary" id="gallery-toggle-items">Toggle All</button>
                        </div>
                        <div class="pull-right push-up-10">
                            <div class="btn-group">
                                <button class="btn btn-primary"><span class="fa fa-pencil"></span> Edit</button>
                                <button class="btn btn-primary"><span class="fa fa-trash-o"></span> Delete</button>
                            </div>
                        </div> -->

                        <div class="gallery">
                            {% for product in products %}
                            <div class="gallery-item">
                                <div class="image">
                                    <img src="{{ product.image.url }}" style="width: 160px; height: 210px; display:flex; justify-content: fit;" alt="{{ product.image.url }}"/>
                                </div>
                                <div class="meta"  style="display:flex; justify-content: space-between;">
                                    <strong>Ksh {{ product.price }} <br /><small>{{ product.name }}</small></strong>
                                    <form action="{% url "cart_add" product.id %}" method="post">
                                        {{ cart_product_form }}
                                        {% csrf_token %}
                                        <button class="btn btn-info"><i class="glyphicon glyphicon-shopping-cart"></i></button>
                                    </form>
                                </div>
                            </div>
                            {% endfor %}

                        </div>

                        <ul class="pagination pagination-sm pull-right push-down-20 push-up-20">
                            <li class="disabled"><a href="#">«</a></li>
                            <li class="active"><a href="#">1</a></li>
                            <li><a href="#">2</a></li>
                            <li><a href="#">3</a></li>
                            <li><a href="#">4</a></li>
                            <li><a href="#">»</a></li>
                        </ul>
                    </div>
                    <!-- END CONTENT FRAME BODY -->
                </div>
                <!-- END CONTENT FRAME -->


            </div>
            <!-- END PAGE CONTENT -->
        </div>
        <!-- END PAGE CONTAINER -->

        <!-- BLUEIMP GALLERY -->
        <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
            <div class="slides"></div>
            <h3 class="title"></h3>
            <a class="prev">‹</a>
            <a class="next">›</a>
            <a class="close">×</a>
            <a class="play-pause"></a>
            <ol class="indicator"></ol>
        </div>
        <!-- END BLUEIMP GALLERY -->

        <!-- MESSAGE BOX-->
        <div class="message-box animated fadeIn" data-sound="alert" id="mb-signout">
            <div class="mb-container">
                <div class="mb-middle">
                    <div class="mb-title"><span class="fa fa-sign-out"></span> Log <strong>Out</strong> ?</div>
                    <div class="mb-content">
                        <p>Are you sure you want to log out?</p>
                        <p>Press No if youwant to continue work. Press Yes to logout current user.</p>
                    </div>
                    <div class="mb-footer">
                        <div class="pull-right">
                            <a href="pages-login.html" class="btn btn-success btn-lg">Yes</a>
                            <button class="btn btn-default btn-lg mb-control-close">No</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- END MESSAGE BOX-->

        <!-- START PRELOADS -->
        <audio id="audio-alert" src="{% static 'shop/audio/alert.mp3' %}" preload="auto"></audio>
        <audio id="audio-fail" src="{% static 'shop/audio/fail.mp3' %}" preload="auto"></audio>
        <!-- END PRELOADS -->

        <!-- START PLUGINS -->
        <script type="text/javascript" src="{% static 'shop/js/plugins/jquery/jquery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'shop/js/plugins/jquery/jquery-ui.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'shop/js/plugins/bootstrap/bootstrap.min.js' %}"></script>
        <!-- END PLUGINS -->

        <!-- THIS PAGE PLUGINS -->
        <script type="text/javascript" src="{% static 'shop/js/plugins/icheck/icheck.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'shop/js/plugins/mcustomscrollbar/jquery.mCustomScrollbar.min.js' %}"></script>
        <!-- END PAGE PLUGINS -->

        <!-- START TEMPLATE -->
        <script type="text/javascript" src="{% static 'shop/js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>


        <script type="text/javascript" src="{% static 'shop/js/plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'shop/js/actions.js' %}"></script>
        <!-- END PLUGINS -->


        <script type="text/javascript" src="{% static 'shop/js/plugins/blueimp/jquery.blueimp-gallery.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'shop/js/plugins/dropzone/dropzone.min.js' %}"></script>
        <!-- END THIS PAGE PLUGINS-->

    <!-- END SCRIPTS -->
    </body>
</html>
